body{
    margin: 0;
    color: black;
}




.main1{
     
width: 10vw;
    height: 0vh;
    padding: 2%;
  background-color: #754ef9;
  color: white;
}


.images{
    display: block;
    max-width: 120px;
    height: 120px;
    border-radius: 50%;
 padding-top: 7%;
 margin-left: 7%;
 
}

.two{
background-color:#754ef9;
    padding: 5px;
    max-width: 200px;
height: 200px;
border-radius: 50%;
position: absolute;


}
.main2{
     padding: 30px;
background-color:white;
max-width: 300px;
height:140px;
border-radius: 50%; 


} 

.three{
    background-color:#754ef9;
    border-radius: 50%;
    width: 140px;
    height: 140px;
}


 .main-head{
display: flex;
  
    
 }

.creative{
   margin: auto;
    background-color: #754ef9;
color: white;
    }

.download-btn {
  background-color: #754ef9;
  color: white;
  border: none;
   padding-left: 5px; 
  font-size: 10px;
  
  border-radius: 20px;
  cursor: pointer;
  margin: 2px;
  transition: background-color 0.3s ease;
}

.download-btn:hover {
  background-color: #007b80;
}
.cards{
     border-style:solid;
    border-width: 2px ;
    border-color: white;
    height: 60vh;
    width: 20vw;
    text-align: center;
    box-shadow: 0px 10px 10px;
    
}
.main-cards{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 5%;
}
.download-btns{
     background-color: #754ef9;
  color: white;
  border: none;
   padding: 0.4rem 0.3rem; 
  font-size: 1rem;
  font-weight: bold;
  border-radius: 12px;
 
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.text-card{
    padding: 30px;
}
.icons{
    font-size: 40px;
    color: #754ef9;
}

.img{
    max-width: 500px;
    height: 500px;
    display: block;
    gap: 20px;
}
.imgs{
   max-width: 300px; 
   height: 300px;
   display: block;
} 
.contain{
    display: flex;
    gap: 5%;
    justify-content: center;
}
.contains{
    display: flex;
    gap: 5%;
    justify-content: center;
    margin-top: 10px;
}

.text-col{
   
   padding-top: 5%; 
text-align: center;
   max-width: 700px; 
    background-color:blue;
    color: white;
}
.text-img{
    display: flex;
    gap: 3px;
     margin-top: 10px;
     justify-content: center;
}
.portfolio-section{
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
}
.text h3{
text-align: center;
}
.text p{
text-align: center;
}
.images-text{
   text-align: center;
  border: none;
   background-color: white;
  
}

.images1{
       
    max-width: 120px;
    height: 120px;
    border-radius: 50%;
 margin-top: 10px;
 
}
.white{
    background-color:#754ef9;
    border-radius: 50%;
    width: 140px;
    height: 140px;
    margin-left: 45%;
     
    
}

.fellow-page {
    position: absolute;
    right: 0;
    top: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 999;
}

.fello .rotate-text {
    transform: rotate(90deg);
    transform-origin: right top;
    white-space: nowrap;
    margin: 0;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
}

.fellow .icon {
     margin: 10px 5px; 
    text-align: right;
}

.fellow .icon i {
    font-size: 10px;
    color: #333;
    transition: color 0.3s;
    cursor: pointer;
}

.fellow .icon i:hover {
    color: #007bff; /* change this to whatever hover color you like */
}
.texts{
  text-align: center; 
  background-color: white;
  
   padding-top: 2%;
   padding: 5%;
 
  
}
.text1{
   background-color: #754ef9; 
   box-shadow: 0px 5px 5px;
   /* max-width: 800px;
margin-left: 20%;  */
  justify-content: center;
  padding-left: 15px;
 padding-right: 15px;
 

}

.hire-header{
 
    border-style:solid;
    border-width: 1px;
    width: 30%;
    padding: 12px;

}
.hire-section{
     padding-top: 10%;
    text-align: center;
   
}
.hire-container{
   display: flex;
    padding-top: 5%;
   
 justify-content: center;
 align-items: center;
}
.hire-txt{
  background-color: #754ef9;
   border-style:solid;
    border-width: 1px;
    padding: 12px;
    
    padding-left: 30px;
     padding-right: 38px;
}
.footer{
  display: flex;
justify-content: center;
gap: 20px;
background-color: #754ef9;
color: white;
padding-bottom:  15%;
}
.footer h3{
  padding-right:20%;
}
.pages{
  display: flex;
justify-content: center;
gap: 20px;
padding-right: 15%;
font-size: 15px;
}
.social{
   display: flex;
justify-content: center;
gap: 20px;
padding-left: 5%;
font-size: 15px;
}

.main p{
  max-width: 500%;
  background-color: blue;
}
.portfoilo{
text-align: center;
padding: 30px;
font-family: 'Courier New', Courier, monospace;

}

.main-header{
 height: 100vh;
width: 30%;

background-color: blue;
color: white; 
}
.header{
  display: flex;
}
.txts {
  position: fixed;
  top: 0%;
  right: 0;
  margin: 30px;
  transform: rotate(90deg) translateY(-50%);
  transform-origin: left;
   /* Optional: set background if needed */
  padding: 0px; /* Optional: adjust spacing */
}
.icos{
text-align: end;
margin-top: 50%;
font-size: 10px;

}


.txts p {
  margin: 0;
  font-family: sans-serif; /* Optional: choose your font */
}
.pp{
  padding: 10px;
  width: 50px;
  
}
.container-fluid{
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-left: 10%;
}

.Navbar {
     margin-left: 90%;  
     display: flex;
}
.links{
  padding-left: 80%;
}
.lists {
    list-style: none;
    margin: 0;
    padding: 0;
  display:inline-flex;
  
     gap: 50px;  
}
.content {
    text-decoration: none;
    color: black;
    font-size: 15px;
    transition: color 0.3s ease;
    font-family: 'Courier New', Courier, monospace;
} 

 .content:hover {
   
    text-decoration: underline;
}


.my-text{
   padding: 50px;
  font-size: 15px;
}
.txt{
  color: #754ef9;
    
}
.social-icon{
 border-radius: 50%;
  width:40px;
  height: 40px;
  box-shadow: 0px 5px 5px;
  padding:0px;
  font-size: 15px;
  color: #754ef9;
  margin-top: 15px;
  margin-left: 50px;
}
.icon-txt{
  margin-top: 25px;
  font-size: 10px;
  margin-left: 10px;
}
.icon{
  display: flex;
}

.creative{
  font-size: 10px;
}
.fa-play{
  margin-top: 10px;
}
@media (max-width:1200px) {
  

.main1{
     
width: 20vw;
    height: 40vh;
    padding: 2%;
  background-color: #754ef9;
  
}


.images{
    display: block;
    max-width: 50px;
    height: 50px;
    border-radius: 50%;
 padding-top: 10%;
 margin-left: 10%;
 
}

.two{
background-color:#754ef9;
    padding: 5px;
    max-width: 120px;
height: 120px;
border-radius: 50%;
position: absolute;


}
.main2{
     padding: 30px;
background-color:white;
max-width: 70px;
height:60px;
border-radius: 50%; 


} 

.three{
    background-color:#754ef9;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}




.Navbar {
     margin-left: 20%;  
     display: flex;
}
.links{
  padding-left: 20%;
}
.lists {
    list-style: none;
    margin: 0;
    padding: 0;
  display:inline-flex;
     gap: 20px;  
}


.social-icon{
 border-radius: 50%;
  width:40px;
  height: 40px;
  box-shadow: 0px 5px 5px;
  padding:0px;
  font-size: 15px;
  color: #754ef9;
  margin-top: 15px;
  margin-left: 50px;
}
.icon-txt{
  margin-top: 25px;
  font-size: 3px;
  margin-left: 10px;
}
.icon{
  display: flex;
}

.creative{
  font-size: 10px;
}
.fa-play{
  margin-top: 10px;
}

.content {
    text-decoration: none;
    color: black;
    font-size: 5px;
   font-family: Arial, Helvetica, sans-serif;
  
} 
.my-text h1{
  padding: 0px;
}
.my-text{
 margin: 5px;
   padding-left: 30px;
  font-size: 15px;

}
.my-text p{
  margin:0px;
  padding: 0px;
  font-size: 8px;
}
.download-btn{
 padding: 4px;
   width: 60px; 
  font-size: 6px;
  margin: 5px;
  border-radius: 20px;
 text-align: center;
}

.icon-text p{
  font-size: 10px;

}
.container-fluid{

  padding-left:1px;
}
.cards{
     
    height: 20vh;
    width: 25vw;
    box-shadow: 0px 2px 2px;
}
.main-cards{
     justify-content:center;

    gap: 5px;
    
}

.download-btns{
     background-color: #754ef9;
  color: white;
  border: none;
   padding: 0.3rem; 
  font-size: 5px;
  font-weight: bold;
  border-radius: 8px;
 
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.text-card{
  font-size: 7px;
    padding: 5px;
}
.main-cards h3{
  font-size: 8px;
}
.icons{
    font-size: 14px;
    color: #754ef9;
}

.portfolio-section{
    text-align: center;
    margin-top: 10px;
    font-size: 10px;
}

.img{
    max-width: 150px;
    height: 150px;
    display: block;
    gap: 5px;
}
.text-col{
   
   padding-top: 2%; 
text-align: center;
   max-width: 200px; 
    
}
.text-col h3{
  font-size: 10px;
}
.text-col p{
font-size: 10px;
}
.imgs{
   max-width: 100px; 
   height: 150px;
   display: block;
}


.images-text{
   text-align: center;
  
  
  
}

.images1{
       
    max-width:60px;
    height: 60px;
    border-radius: 50%;
 margin-top: 10px;
 
}
.white{
    background-color:#754ef9;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin-left: 40%;
     
    
}


.texts{
  text-align: center; 
   background-color: white;
  
   padding-top: 2%;
   padding: 5%;
 
  
}
.text1{
    background-color: #754ef9; 
   box-shadow: 0px 5px 5px;
   

  padding-left: 15px;
 padding-right: 15px;
}

.text{
  font-size: 10px;
  
}

.hire-header{
 
    border-style:solid;
    border-width: 1px;
    width: 50%;
    padding: 10px;

}
.hire-section h3{
   font-size: 10px;
   
}
.hire-section p{
  font-size: 10px;
}
.hire-txt{
  
    padding: 10px;
    
    padding-left: 0px;
     padding-right: 0px;
}

.footer{
  display: flex;
justify-content: center;
gap: 10px;

padding-bottom:10%;
}
.footer h3{
  padding-right:14%;
  font-size: 5px;
}
.pages{
  display: flex;
justify-content: center;
gap: 10px;
padding-right: 10%;
font-size: 5px;
}
.social{
   display: flex;
justify-content: center;
gap: 10px;
padding-left: 0px;
font-size: 8px;
}


}
 @media screen and (min-width:375px){
.main1{
     
width: 15vw;
    
    padding: 2%;
  background-color: #754ef9;
  
}

.my-text{
   padding-left:  50px;
  font-size: 10px;
  text-align: center;
}

}
 
  @media screen and (min-width:912px){
.main1{
     
width: 18vw;
    height: 40vh;
    padding: 2%;
  background-color: #754ef9;
  
  
}
}

 @media screen and (min-width:412px){
.main1{
     
width: 18vw;
  
    padding: 2%;
  background-color: #754ef9;
  
}
.text1{
    background-color: #754ef9; 
   box-shadow: 0px 5px 5px;

  padding-left: 15px;
 padding-right: 15px;
}

}

 @media screen and (min-width:768px){
.main1{
     
width: 10vw;
   
    padding: 2%;
  background-color: #754ef9;
  
}
}
@media screen and (max-width:344px){

    .my-text{
   padding-left:  60px;
  font-size: 7px;
  text-align: center;
}
.main1{
  
    height: 30vh;
}

.cards{
     
    height: 12vh;
    width: 35vw;
}

}


@media screen and (max-width:360px){

 
.main1{
   
}

.cards{
     
    height: 18vh;
    width: 35vw;
}

}


@media (max-width:0px) {

  .head{
   
    width: 15vw;
    height: 15vh;
    padding: 2%; 
  
}
.head h3{
font-size: 8px;
color: white;
}
.images{
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin: 5%;
}

.img-header{
    background-color: #754ef9;
    height: 70px;
    width: 70px;
    border-radius: 50%;
}
.Navbar {
        margin-left: 20px;
     display: flex;
}
.links{
  padding-left:20px;
}
.lists {
    list-style: none;
    margin: 0;
    padding: 0;
  display:inline-flex;
     gap: 4px;  
}

.content {
    text-decoration: none;
    color: black;
    font-size: 5px;
   font-family: Arial, Helvetica, sans-serif;
  
} 
.my-text{
 
   padding: 10px;
  font-size: 10px;

}
.my-text p{
  font-size: 5px;
}
.download-btn{
 
   padding: 2px; 
  font-size: 7px;
  margin: 6px;
  border-radius: 10px;
 
}


.social-icon{
 border-radius: 50%;
  width: 35px;
  box-shadow: 0px 5px 5px;
  padding: 0px;
  font-size: 20px;
  color: #754ef9;
  
}
.icon-text p{
  font-size: 10px;

}
.container-fluid{

  padding-left:1px;
}

.creative{
  font-size: 10px;

}

.cards{
     
    height: 15vh;
    width: 20vw;
    box-shadow: 0px 2px 2px; 
}
.main-cards{
     justify-content:center;

    gap: 5px;
    
}

.download-btns{
     background-color: #754ef9;
  color: white;
  border: none;
   padding: 0.3rem; 
  font-size: 5px;
  font-weight: bold;
  border-radius: 8px;
 
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.text-card{
  font-size: 7px;
    padding: 5px;
}
.main-cards h3{
  font-size: 8px;
}
.icons{
    font-size: 15px;
    color: #754ef9;
}

.portfolio-section{
    text-align: center;
    margin-top: 10px;
    font-size: 10px;
}

.img{
    max-width: 150px;
    height: 150px;
    display: block;
    gap: 5px;
}
.text-col{
   
   padding-top: 2%; 
text-align: center;
   max-width: 200px; 
    
}
.text-col h3{
  font-size: 10px;
}
.text-col p{
font-size: 10px;
}
.imgs{
   max-width: 100px; 
   height: 150px;
   display: block;
}

.images-text{
  text-align: center;
  background-color: white;
  
  
}
.image{
  border-radius: 50%;
  width: 70px;
  height: 70px;
  
}
 .texts{
  margin-left: 1px;
  font-size: 5px;
max-width: 200px;
   padding: 7%;
  
}
.text1{
  margin-left: 15%;
  max-width: 200px;
 padding-left: 10px;
 padding-right: 10px;
} 
.text{
  font-size: 10px;
  
}

.hire-header{
 
    border-style:solid;
    border-width: 1px;
    width: 50%;
    padding: 10px;

}
.hire-section h3{
   font-size: 10px;
   
}
.hire-section p{
  font-size: 10px;
}
.hire-txt{
  
    padding: 10px;
    
    padding-left: 0px;
     padding-right: 0px;
}

.footer{
  display: flex;
justify-content: center;
gap: 10px;

padding: 15px;
}
.footer h3{
  padding-right:14%;
  font-size: 5px;
}
.pages{
  display: flex;
justify-content: center;
gap: 10px;
padding-right: 10%;
font-size: 5px;
}
.social{
   display: flex;
justify-content: center;
gap: 10px;
padding-left: 0px;
font-size: 8px;
}

.main p{
  max-width: 500%;
  background-color: blue;
}
.portfoilo{
text-align: center;
padding: 30px;
font-family: 'Courier New', Courier, monospace;

}

}